<div class="card-container">
  <mat-card>
    <mat-card-content>

      <div class="pseudo-paragraph">
        <div class="pseudo-title" style="width: 50%"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line" style="width: 70%"></div>
      </div>

      <mat-divider [inset]="true" style="max-width:70%;" class="mas-my-4 mas-mx-auto"></mat-divider>

      <div class="pseudo-paragraph">
        <div class="pseudo-title" style="width: 50%"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line" style="width: 70%"></div>
      </div>

      <mat-divider [inset]="true" style="max-width:70%;" class="mas-my-4 mas-mx-auto"></mat-divider>

      <div class="pseudo-paragraph">
        <div class="pseudo-title" style="width: 50%"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line" style="width: 70%"></div>
      </div>

      <mat-divider [inset]="true" style="max-width:70%;" class="mas-my-4 mas-mx-auto"></mat-divider>

      <div class="pseudo-paragraph">
        <div class="pseudo-title" style="width: 50%"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line" style="width: 70%"></div>
      </div>

      <mat-divider [inset]="true" style="max-width:70%;" class="mas-my-4 mas-mx-auto"></mat-divider>

      <div class="pseudo-paragraph mas-mb-3">
        <div class="pseudo-title" style="width: 50%"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line"></div>
        <div class="pseudo-text-line" style="width: 70%"></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
