<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="assets/dummy-img-1x1.png">
    <mat-card-title>
      <div class="pseudo-title mdx-mb--1" style="width: 250px"></div>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/dummy-img-16x9.png">
  <mat-card-content>
    <div class="pseudo-paragraph">
      <div class="pseudo-text-line dummy-text"></div>
      <div class="pseudo-text-line dummy-text"></div>
      <div class="pseudo-text-line dummy-text" style="width: 30%"></div>
    </div>
  </mat-card-content>
</mat-card>
