<div class="a-c--1280 mdx-p--default">

  <div class="card-container">
    <mat-card>
      <mat-card-content>
        <h3 class="mat-display-1 mdx-mb--3">Layout #203</h3>
        <div class="rich-text mdx-mb--5 mat-typography">
          <ul>
            <li><strong>Key Components:</strong>&nbsp; Toolbar, <a href="https://material.io/components/app-bars-top" target="_blank">Sidenav</a></li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <dummy-page-content></dummy-page-content>

</div>
