.pseudo-horizontal-card {
  padding: 0;
  display: flex;

  &__img {
    width: 120px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &__content {
    flex-grow: 1;
    padding: 16px;
  }
}

.horizontal-card-container {
  background-color: blueviolet;
  //width: calc(100% + 32px);
  //margin: -16px -16px -16px -16px !important;
}
