@use '../../../styles/themes/default' as theme;

.rich-text {
  @include theme.mat-mat-typography-level-to-styles(theme.$mat-fontConfig, body-1);

	a {
		text-decoration: underline;
	}
}

.layout-screenshot {
  text-align: center;

  img {
    max-height: 500px;
    max-width: 100%;
  }
}

/*.rich-text {
  @include typography.typography(body1);

	p {
		margin-bottom: $default-margin * 2;

		&:last-child {
			margin-bottom:0;
		}
	}

	a {
		text-decoration: underline;

		// &:hover {
		// 	text-decoration:underline;
		// }
	}

	ul, ol {
		margin-left: $default-margin;
		margin-top: $default-margin;

    li {
      margin-bottom: $default-margin;
    }
	}
}*/
