<div class="a-c--1280">
  <mat-card class="mdx-m--default">
    <mat-card-content>
      <h3 class="mat-display-1">Layout #101</h3>
      <div class="rich-text mdx-mb--5 mat-typography">

        <p>
          <a routerLink="/layout101">*** DEMO ***</a>
        </p>
        <p>Very simple minimalistic layout, that uses only <a href="https://material.io/components/app-bars-top" target="_blank">Top App Bar</a>
        component for navigation. Scrolling upward hides the top app bar, scrolling downward reveals the top app bar, thus maximizing
        space available for content on smaller phone screens.
        </p>

        <div class="layout-screenshot mdx-mb--3">
          <a href="https://kekscs.blob.core.windows.net/dev/vue-material-layout-kit/layout-screens/101/layout101-iphone8.png" target="_blank">
            <img src="https://kekscs.blob.core.windows.net/dev/vue-material-layout-kit/layout-screens/101/layout101-iphone8.png">
          </a>
        </div>
        <div class="layout-screenshot mdx-mb--3">
          <a href="https://kekscs.blob.core.windows.net/dev/vue-material-layout-kit/layout-screens/101/layout101-ipad.png" target="_blank">
            <img src="https://kekscs.blob.core.windows.net/dev/vue-material-layout-kit/layout-screens/101/layout101-ipad.png" >
          </a>
        </div>
        <div class="layout-screenshot mdx-mb--3">
          <a href="https://kekscs.blob.core.windows.net/dev/vue-material-layout-kit/layout-screens/101/layout101-desktop.png" target="_blank">
            <img src="https://kekscs.blob.core.windows.net/dev/vue-material-layout-kit/layout-screens/101/layout101-desktop.png">
          </a>
        </div>

        <p>
          This layout fits for simple websites with little navigation. 1-3 commands/links can be placed in the Top App bar
          in a form of <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-icon-button">Icon Buttons</a>.
          Placing more elements into Top App Bar might create problems on small phone screens. Some additional rarely used commands/links
          can be placed into drop-down menu, which gets opened by clicking on 3 vertical dots icon.
        </p>

      </div>
    </mat-card-content>
  </mat-card>
</div>
