<div class="mdc-layout-grid a-c--1280">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <a routerLink="/layout101" class="card-link">
        <mat-card>
          <mat-card-title>Layout #101</mat-card-title>
        </mat-card>
      </a>
    </div>

    <div class="mdc-layout-grid__cell">
      <a routerLink="/layout202" class="card-link">
        <mat-card>
          <mat-card-title>Layout #202</mat-card-title>
        </mat-card>
      </a>
    </div>

    <div class="mdc-layout-grid__cell">
      <a routerLink="/layout203" class="card-link">
        <mat-card>
          <mat-card-title>Layout #203</mat-card-title>
        </mat-card>
      </a>
    </div>

    <div class="mdc-layout-grid__cell">
      <a routerLink="/layout204" class="card-link">
        <mat-card>
          <mat-card-title>Layout #204</mat-card-title>
        </mat-card>
      </a>
    </div>
  </div>
</div>
