<header #topAppBarEl class="mdc-top-app-bar mdc-elevation--z3">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <!-- <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button> -->

      <a class="mdc-top-app-bar__title mdc-top-app-bar__title--first">
        <span class="mdx-d--none-phone">Material Design</span> Layout Kit
      </a>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <!-- <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">favorite</button>
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button> -->

      <a mat-icon-button
        routerLink="/"
        class="mdc-top-app-bar__action-item">
        <mat-icon>home</mat-icon>
      </a>

      <button
        mat-icon-button
        [matMenuTriggerFor]="moreMenu"
        class="mdc-top-app-bar__action-item">
        <mat-icon>more_vert</mat-icon>
      </button>

      <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
      <mat-menu #moreMenu="matMenu">
        <button mat-menu-item><span class="pseudo-text-line" style="width: 140px"></span></button>
        <button mat-menu-item><span class="pseudo-text-line"></span></button>
        <button mat-menu-item><span class="pseudo-text-line"></span></button>
        <button mat-menu-item><span class="pseudo-text-line"></span></button>
        <button mat-menu-item><span class="pseudo-text-line"></span></button>
        <!-- <button mat-menu-item>Settings</button>
        <button mat-menu-item>Send Feedback</button>
        <button mat-menu-item>Help</button>
        <button mat-menu-item>Terms of service</button>
        <button mat-menu-item>Privacy policy</button> -->
      </mat-menu>

      <!-- <div id="demo-menu" class="mdc-menu-surface--anchor">
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert</button>
        <div class="mdc-menu mdc-menu-surface">
          <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__graphic material-icons" aria-hidden="true">settings</span>
              <span class="mdc-list-item__text">Settings</span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__graphic material-icons" aria-hidden="true">power_settings_new</span>
              <span class="mdc-list-item__text">Log Out</span>
            </li>
          </ul>
        </div>
      </div> -->
    </section>
  </div>
</header>
<div class="mdc-top-app-bar--fixed-adjust">
  <router-outlet></router-outlet>
</div>




