@use '../material-angular/theme-vars' as mat-theme-vars;

@use "@material/theme" with (
  $primary: mat-theme-vars.mat-color(mat-theme-vars.$theme-primary),
  $secondary: #F08A81,
  $background: #141619,
  $surface: #1E2023,
  $on-surface: #FFFFFF
);
