<div class="a-c--1280 mdx-p--default">
  <!-- <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <mat-card>
              <mat-card-content>
                <h3 class="mat-display-1 mdx-mb--3">Layout #101</h3>
                <div class="rich-text mdx-mb--5 mat-typography">
                  <ul>
                    <li>Components: <a href="https://material.io/components/app-bars-top" target="_blank">Top App Bar</a></li>
                    <li>Scrolling upward hides the top app bar, scrolling downward reveals the top app bar,
                      thus maximizing space available for content on smaller phone screens.</li>
                  </ul>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <pseudo-card></pseudo-card>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <pseudo-horizontal-card></pseudo-horizontal-card>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <pseudo-horizontal-card></pseudo-horizontal-card>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <pseudo-horizontal-card></pseudo-horizontal-card>
              </div>
            </div>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

        </div>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-3-desktop">
        <pseudo-list-card></pseudo-list-card>
      </div>
    </div>
  </div>

  <mat-divider style="margin: 32px auto;"></mat-divider> -->

</div>
