<div class="a-c--1280">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/dummy-img-1x1.png">
                <mat-card-title>
                  <!-- Shiba Inu -->
                  <!-- <div class="dummy-text" style="width: 200px">&nbsp; &nbsp; &nbsp;</div> -->
                  <!-- <pseudo-text></pseudo-text> -->
                  <div class="pseudo-title dummy-text" style="width: 250px"></div>
                </mat-card-title>
                <mat-card-subtitle>
                  <!-- Dog Breed -->
                  <div class="dummy-text dummy-text--subtitle"></div>
                </mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="assets/dummy-img-16x9.png">
              <mat-card-content>
                <!-- <div class="dummy-text" style="width: 1000px;">
                </div> -->
                <!-- <pseudo-text></pseudo-text> -->

                <div class="pseudo-paragraph">
                  <div class="pseudo-text-line dummy-text"></div>
                  <div class="pseudo-text-line dummy-text"></div>
                  <div class="pseudo-text-line dummy-text" style="width: 30%"></div>
                </div>
                <!-- <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                  content here', making it look like readable English.
                </p> -->
              </mat-card-content>
            </mat-card>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <pseudo-horizontal-card></pseudo-horizontal-card>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <pseudo-horizontal-card></pseudo-horizontal-card>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <pseudo-horizontal-card></pseudo-horizontal-card>
              </div>
            </div>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <!-- <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <pseudo-card-mod2></pseudo-card-mod2>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <pseudo-horizontal-card></pseudo-horizontal-card>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <pseudo-horizontal-card></pseudo-horizontal-card>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <pseudo-horizontal-card></pseudo-horizontal-card>
          </div> -->
        </div>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-3-desktop">
        <pseudo-list-card></pseudo-list-card>
      </div>
    </div>
  </div>

  <mat-divider style="margin: 32px auto;"></mat-divider>

  <div class="pseudo-post">

    <div class="pseudo-title pseudo-title--darker mdx-mb--4" style="width: 70%; margin-top: 40px;"></div>
    <mat-card>
      <mat-card-content>
        <!-- <div class="pseudo-title mdx-mb--4" style="width: 70%;"></div> -->

        <div class="pseudo-paragraph">
          <div class="pseudo-title" style="width: 50%"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line" style="width: 70%"></div>
        </div>

        <mat-divider [inset]="true" style="max-width:70%;" class="mdx-my--4 mdx-mx--auto"></mat-divider>

        <div class="pseudo-paragraph">
          <div class="pseudo-title" style="width: 50%"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line" style="width: 70%"></div>
        </div>

        <mat-divider [inset]="true" style="max-width:70%;" class="mdx-my--4 mdx-mx--auto"></mat-divider>

        <div class="pseudo-paragraph mdx-mb--3">
          <div class="pseudo-title" style="width: 50%"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line" style="width: 70%"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
