<div class="a-c--1280">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <pseudo-card></pseudo-card>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <pseudo-horizontal-card></pseudo-horizontal-card>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <pseudo-horizontal-card></pseudo-horizontal-card>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <pseudo-horizontal-card></pseudo-horizontal-card>
              </div>
            </div>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdx-mt--2">
            <pseudo-category></pseudo-category>
          </div>

        </div>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-3-desktop">
        <pseudo-list-card></pseudo-list-card>
      </div>
    </div>
  </div>

  <mat-divider style="margin: 32px auto;"></mat-divider>

  <div class="pseudo-post">

    <div class="pseudo-title pseudo-title--darker mdx-mb--4" style="width: 70%; margin-top: 40px;"></div>
    <mat-card>
      <mat-card-content>

        <div class="pseudo-paragraph">
          <div class="pseudo-title" style="width: 50%"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line" style="width: 70%"></div>
        </div>

        <mat-divider [inset]="true" style="max-width:70%;" class="mdx-my--4 mdx-mx--auto"></mat-divider>

        <div class="pseudo-paragraph">
          <div class="pseudo-title" style="width: 50%"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line" style="width: 70%"></div>
        </div>

        <mat-divider [inset]="true" style="max-width:70%;" class="mdx-my--4 mdx-mx--auto"></mat-divider>

        <div class="pseudo-paragraph">
          <div class="pseudo-title" style="width: 50%"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line" style="width: 70%"></div>
        </div>

        <mat-divider [inset]="true" style="max-width:70%;" class="mdx-my--4 mdx-mx--auto"></mat-divider>

        <div class="pseudo-paragraph">
          <div class="pseudo-title" style="width: 50%"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line" style="width: 70%"></div>
        </div>

        <mat-divider [inset]="true" style="max-width:70%;" class="mdx-my--4 mdx-mx--auto"></mat-divider>

        <div class="pseudo-paragraph mdx-mb--3">
          <div class="pseudo-title" style="width: 50%"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line"></div>
          <div class="pseudo-text-line" style="width: 70%"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
